body {
  background-color: azure;
}
#heading {
  text-align: center;
  color: cornflowerblue;
  font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 2.5em;
}

#box {
  text-align: center;
  background-color: lightcyan;
  max-width: 350px;
  margin: auto;
  border-radius: 10px;
  box-shadow: aqua 5px 5px 10px;
  padding: 25px;
}
.temp-field {
  margin: 30px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

#temp {
  text-align: center;
  max-width: 10%;
  padding: 10px;
  font-family: arial;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 10px;
}

#type {
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: thistle 5px 5px 10px;
}

#btn {
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
}
