#heading{
    text-align: center;
    font-family: monospace;
}
#count{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: 'Times New Roman';
}

#buttons{
    text-align: center;
}

.btn{
    padding: 10px 20px;
    font-family:monospace;
    font-weight: bold;
    font-size: 2em;
    color: cornflowerblue;
    background-color: burlywood;
    border-radius: 20px;
    cursor:pointer;
    transition: background-color 0.20s;
}
.btn:hover{
    font-size: 2.2em;
    background-color: goldenrod;
}